@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text.Encodings.Web;
@using Microsoft.AspNetCore.Html;
@using System.Text.Unicode;

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		@await Html.PartialAsync("~/Views/Common/Header.cshtml")
		<link rel="stylesheet" href="/css/index.css">
		@if (!string.IsNullOrEmpty(Model.name))
		{
			<title>@Model.name</title>
		}
		else
		{
			<title>New project</title>
		}
	</head>
	<body>
		<div class="container">
			@await Html.PartialAsync("~/Views/Common/NavBar.cshtml")

			<div class="row mb-8">
				<canvas id="view" class="col-md-10 border"></canvas>
				<div class="col-md-2">
					<button id="saveBtn" class="btn btn-primary mt-2">Save</button>
					<button id="executeBtn" class="btn btn-success mt-2">Execute</button>
					<button id="saveThumbnailBtn" class="btn btn-warning mt-2">Save Thumbnail</button>
				</div>
			</div>
			<div class="row mb-3">
				<diva class="col-md-6">
				</div>
				<div class="col-md-6">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-6">
					<div class="text-center">Main editor</div>
					<div id="main_editor"></div>
				</div>
				<div class="col-md-6">
					<div class="text-center">Animation editor</div>
					<div id="animation_editor"></div>
				</div>
			</div>
		</div>
	</body>

	@await Html.PartialAsync("~/Views/Common/Scripts.cshtml")
	<script src="/js/bundle.js" type="text/javascript"></script>
		@if (Model.files.ContainsKey("main.js"))
		{
			string mainFile = Model.files["main.js"];
			<script type="text/javascript" defer>document.mainAceEditor.setValue(`@Html.Raw(mainFile.Replace("`", "\\`"))`);</script>
		}
		@if (Model.files.ContainsKey("animation.js"))
		{
			string animateFile = Model.files["animation.js"];
			<script type="text/javascript" defer>document.animationAceEditor.setValue(`@Html.Raw(animateFile.Replace("`", "\\`"))`);</script>
		}
</html>
