<div class="col-md-4">
	<a href="projects/@Model.hash">
    <div class="card image-tile">
        <img src="projects/@Model.hash/thumbnail" class="card-img-top" alt="Image of @Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
	</a>
</div>

