<div class="col-md-4">
	<a href="/editor/@Model.hash" class="text-decoration-none text-light">
		<div class="card image-tile">
			@{
				if (Model.thumbnail != null)
				{
					<img src="@Model.thumbnail" class="card-img-top border" alt="Image of @Model.name">
				}
				else
				{
					<img class="card-img-top" alt="No thumbnail">
				}
			}
			<div class="card-body">
				<h5 class="card-title">@Model.name</h5>
				@{
					if (Model.description != null)
					{
						<p class="card-text">@Model.description</p>
					}
				}
			</div>
		</div>
	</a>
</div>
