@using Playground.Models

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		@await Html.PartialAsync("~/Views/Common/Header.cshtml")
		<title>Graphics Playground</title>
		<style>
			.image-tile
			{
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			@await Html.PartialAsync("~/Views/Common/NavBar.cshtml")

			@{ ProjectData? featured = ViewData["featured"] as ProjectData?;}
			@if (featured != null)
			{
				<div class="jumbotron mb-4">
					<div class="row">
						<div class="col-md-6">
							@if (featured?.thumbnail != null)
							{
								<a href="/editor/@featured?.hash" class="text-decoration-none">
									<img src="@featured?.thumbnail" class="card-img-top border" alt="Image of @featured?.name">
								</a>
							}
						</div>
						<div class="col-md-4 text-decoration-none text-light">
							<h3 class="col-md-4">
								<a class="text-decoration-none text-light" href="/editor/@featured?.hash">
									@featured?.name
								</a>
							</h3>
							@if(!string.IsNullOrEmpty(featured?.description))
							{
								<a class="text-decoration-none text-light" href="/editor/@featured?.hash">
									@featured?.description
								</a>
							}
						</div>
					</div>
				</div>
			}

			<div class="row">
				@{ var projects = ViewData["projects"] as List<ProjectData>; }
				@if (project != null)
				{
					@foreach (var project in projects)
					{
						@await Html.PartialAsync("~/Views/Projects/card.cshtml", project)
					}
				}
			</div>
		</div>
		@await Html.PartialAsync("~/Views/Common/Scripts.cshtml")
	</body>
</html>

